.hero {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}

.hero span {
	display: block;
}

.hero__title {
    font-family: kamerik-3d;
    font-size: calc(var(--index) * 4.5);
    color: var(--accent-color);
    text-shadow:
      0 0 5px rgba(152, 168, 255, 0.5),
      0 0 15px rgba(152, 168, 255, 0.3),
      0 0 30px rgba(90, 130, 255, 0.2);
    transform: translateZ(100px) rotateX(var(--move-y)) rotateY(var(--move-x));
    transition: transform 0.5s ease-out;
    position: relative;
    z-index: 5;
    letter-spacing: calc(var(--index) * -0.05);
}

.hero__description {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
    color: var(--secondary-color);
}

.hero__button {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: var(--secondary-color);
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
    border-color: var(--secondary-color);
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
	text-decoration: none;
}
