# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Editors
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Игнорируем большие изображения
*.png
*.jpg
*.gif

# Системные файлы
Thumbs.db

# Local Netlify folder
.netlify
