@font-face {
	font-family: kamerik-3d;
	src: url(../../assets/fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}

@font-face {
	font-family: merriweather-italic-3d;
	src: url(../../assets/fonts/merriweather-regular-italic.woff2);
}

body {
	color: var(--text-color);
	font-family: kamerik-3d;
}
